.container
  .row
    = form_for @yaml, method: :put, html: { class: "form-inline" } do |f|
      .form-group
        = f.label :file
        = f.file_field :file
      = f.submit class: "btn btn-default"
  .row
    - @tree.each_with_index do |state, i|
      .col-xs-6.col-md-3.col-xl-2
        .panel.panel-default.page-break-inside-avoid
          .panel-heading #{i + 1}.
          .panel-body
            %table.table.table-striped.table-responsive
              - state.each_with_index do |val, index|
                %tr
                  %th= @tree.keys[index]
                  %td= val
